config_schema=13
arm=1
hook_mode=3
native_vulkan_enabled=0
nr_interpolation_enabled=0
early_load_policy=0
safe_neutral_start=0
menu_accent_rgb=4364026
ui_correction_mode=0
toggle_hotkey_vk=0
toggle_hotkey_modifiers=0
enabled=1
passes=1.0
layers=1
neural_work_percent=100
neural_work_divisor=1
neural_placement_mode=0
neural_correction_domain=0
multipass_balance_mode=1
auto_balance_profile=1
balance_pass_cleanup=1.000
balance_pass_halo=1.000
balance_scale_sharpen=1.000
balance_scale_halo=1.000
balance_detail_retention=1.000
frame_generation_coexistence=0
preserve_native_tone_color=0
preserve_native_tone_color_strength=0.000
creative_lut=0
creative_lut_strength=1.000
clean_fry_enabled=0
clean_fry_cleanup_strength=0.650
clean_fry_detail_retention=0.850
motion_stability_enabled=0
motion_stability_strength=0.200
motion_stability_detail_retention=1.000
texture_boost=0
texture_boost_strength=1.000
adaptive_scene_white=0
adaptive_cascade_style=0
adaptive_cascade_quality=3
adaptive_cascade_maximum_depth=4
adaptive_cascade_novelty=0.8500
adaptive_cascade_reinforcement=0.5500
adaptive_cascade_detail_budget=0.8000
adaptive_cascade_temporal=0.5500
adaptive_cascade_motion_rejection=0.7500
adaptive_cascade_depth_rejection=0.8000
adaptive_cascade_disocclusion_rejection=0.9000
adaptive_cascade_residual_energy_threshold=0.001500
adaptive_cascade_debug_view=0
adaptive_cascade_debug_stage=3
adaptive_cascade_foundation_structure=1.2000
adaptive_cascade_foundation_tone=0.3500
adaptive_cascade_foundation_gain=1.0000
adaptive_cascade_foundation_excitation=0.0000
adaptive_cascade_foundation_renderer_anchor=0.0000
adaptive_cascade_foundation_intensity=1.1000
adaptive_cascade_foundation_response_weight=0.0000
adaptive_cascade_foundation_excitation_limit=0.0000
adaptive_cascade_foundation_neural_feedback=0.0000
adaptive_cascade_foundation_contribution_headroom=1.0000
adaptive_cascade_meso_structure=1.4000
adaptive_cascade_meso_tone=0.1000
adaptive_cascade_meso_gain=1.0000
adaptive_cascade_meso_excitation=0.7000
adaptive_cascade_meso_renderer_anchor=0.1000
adaptive_cascade_meso_intensity=1.3500
adaptive_cascade_meso_response_weight=0.9000
adaptive_cascade_meso_excitation_limit=0.1000
adaptive_cascade_meso_neural_feedback=0.2000
adaptive_cascade_meso_contribution_headroom=1.8000
adaptive_cascade_fine_structure=1.6500
adaptive_cascade_fine_tone=0.0500
adaptive_cascade_fine_gain=0.8000
adaptive_cascade_fine_excitation=0.6500
adaptive_cascade_fine_renderer_anchor=0.1500
adaptive_cascade_fine_intensity=1.5500
adaptive_cascade_fine_response_weight=1.0000
adaptive_cascade_fine_excitation_limit=0.0800
adaptive_cascade_fine_neural_feedback=0.4000
adaptive_cascade_fine_contribution_headroom=2.0000
adaptive_cascade_micro_structure=1.9000
adaptive_cascade_micro_tone=0.0000
adaptive_cascade_micro_gain=0.6000
adaptive_cascade_micro_excitation=0.5500
adaptive_cascade_micro_renderer_anchor=0.2000
adaptive_cascade_micro_intensity=1.8000
adaptive_cascade_micro_response_weight=1.0000
adaptive_cascade_micro_excitation_limit=0.0600
adaptive_cascade_micro_neural_feedback=0.5500
adaptive_cascade_micro_contribution_headroom=2.0000
scene_paper_white_scale=1.765
hdr_transfer_strength=1.000
color_strength=1.000
detail_color_coupling=0.000
stack_tone_policy=2
layer_1_nr_preset=1
layer_1_nr_style=0
layer_1_intensity=1.000
layer_1_local_tone=1.000
layer_1_local_structure=1.000
layer_1_influence=1.000
layer_1_skin_structure=1.000
layer_1_auto_mask=1
layer_1_ui_correction=1
layer_1_depth_convention=0
layer_1_mvec_scale_x_multiplier=1.000
layer_1_mvec_scale_y_multiplier=1.000
layer_2_nr_preset=1
layer_2_nr_style=0
layer_2_intensity=1.000
layer_2_local_tone=1.000
layer_2_local_structure=1.000
layer_2_influence=1.000
layer_2_skin_structure=1.000
layer_2_auto_mask=1
layer_2_ui_correction=1
layer_2_depth_convention=0
layer_2_mvec_scale_x_multiplier=1.000
layer_2_mvec_scale_y_multiplier=1.000
layer_3_nr_preset=1
layer_3_nr_style=0
layer_3_intensity=1.000
layer_3_local_tone=1.000
layer_3_local_structure=1.000
layer_3_influence=1.000
layer_3_skin_structure=1.000
layer_3_auto_mask=1
layer_3_ui_correction=1
layer_3_depth_convention=0
layer_3_mvec_scale_x_multiplier=1.000
layer_3_mvec_scale_y_multiplier=1.000
layer_4_nr_preset=1
layer_4_nr_style=0
layer_4_intensity=1.000
layer_4_local_tone=1.000
layer_4_local_structure=1.000
layer_4_influence=1.000
layer_4_skin_structure=1.000
layer_4_auto_mask=1
layer_4_ui_correction=1
layer_4_depth_convention=0
layer_4_mvec_scale_x_multiplier=1.000
layer_4_mvec_scale_y_multiplier=1.000
layer_5_nr_preset=1
layer_5_nr_style=0
layer_5_intensity=1.000
layer_5_local_tone=1.000
layer_5_local_structure=1.000
layer_5_influence=1.000
layer_5_skin_structure=1.000
layer_5_auto_mask=1
layer_5_ui_correction=1
layer_5_depth_convention=0
layer_5_mvec_scale_x_multiplier=1.000
layer_5_mvec_scale_y_multiplier=1.000
layer_6_nr_preset=1
layer_6_nr_style=0
layer_6_intensity=1.000
layer_6_local_tone=1.000
layer_6_local_structure=1.000
layer_6_influence=1.000
layer_6_skin_structure=1.000
layer_6_auto_mask=1
layer_6_ui_correction=1
layer_6_depth_convention=0
layer_6_mvec_scale_x_multiplier=1.000
layer_6_mvec_scale_y_multiplier=1.000
layer_7_nr_preset=1
layer_7_nr_style=0
layer_7_intensity=1.000
layer_7_local_tone=1.000
layer_7_local_structure=1.000
layer_7_influence=1.000
layer_7_skin_structure=1.000
layer_7_auto_mask=1
layer_7_ui_correction=1
layer_7_depth_convention=0
layer_7_mvec_scale_x_multiplier=1.000
layer_7_mvec_scale_y_multiplier=1.000
layer_8_nr_preset=1
layer_8_nr_style=0
layer_8_intensity=1.000
layer_8_local_tone=1.000
layer_8_local_structure=1.000
layer_8_influence=1.000
layer_8_skin_structure=1.000
layer_8_auto_mask=1
layer_8_ui_correction=1
layer_8_depth_convention=0
layer_8_mvec_scale_x_multiplier=1.000
layer_8_mvec_scale_y_multiplier=1.000
layer_9_nr_preset=1
layer_9_nr_style=0
layer_9_intensity=1.000
layer_9_local_tone=1.000
layer_9_local_structure=1.000
layer_9_influence=1.000
layer_9_skin_structure=1.000
layer_9_auto_mask=1
layer_9_ui_correction=1
layer_9_depth_convention=0
layer_9_mvec_scale_x_multiplier=1.000
layer_9_mvec_scale_y_multiplier=1.000
layer_10_nr_preset=1
layer_10_nr_style=0
layer_10_intensity=1.000
layer_10_local_tone=1.000
layer_10_local_structure=1.000
layer_10_influence=1.000
layer_10_skin_structure=1.000
layer_10_auto_mask=1
layer_10_ui_correction=1
layer_10_depth_convention=0
layer_10_mvec_scale_x_multiplier=1.000
layer_10_mvec_scale_y_multiplier=1.000
layer_11_nr_preset=1
layer_11_nr_style=0
layer_11_intensity=1.000
layer_11_local_tone=1.000
layer_11_local_structure=1.000
layer_11_influence=1.000
layer_11_skin_structure=1.000
layer_11_auto_mask=1
layer_11_ui_correction=1
layer_11_depth_convention=0
layer_11_mvec_scale_x_multiplier=1.000
layer_11_mvec_scale_y_multiplier=1.000
layer_12_nr_preset=1
layer_12_nr_style=0
layer_12_intensity=1.000
layer_12_local_tone=1.000
layer_12_local_structure=1.000
layer_12_influence=1.000
layer_12_skin_structure=1.000
layer_12_auto_mask=1
layer_12_ui_correction=1
layer_12_depth_convention=0
layer_12_mvec_scale_x_multiplier=1.000
layer_12_mvec_scale_y_multiplier=1.000
layer_13_nr_preset=1
layer_13_nr_style=0
layer_13_intensity=1.000
layer_13_local_tone=1.000
layer_13_local_structure=1.000
layer_13_influence=1.000
layer_13_skin_structure=1.000
layer_13_auto_mask=1
layer_13_ui_correction=1
layer_13_depth_convention=0
layer_13_mvec_scale_x_multiplier=1.000
layer_13_mvec_scale_y_multiplier=1.000
layer_14_nr_preset=1
layer_14_nr_style=0
layer_14_intensity=1.000
layer_14_local_tone=1.000
layer_14_local_structure=1.000
layer_14_influence=1.000
layer_14_skin_structure=1.000
layer_14_auto_mask=1
layer_14_ui_correction=1
layer_14_depth_convention=0
layer_14_mvec_scale_x_multiplier=1.000
layer_14_mvec_scale_y_multiplier=1.000
layer_15_nr_preset=1
layer_15_nr_style=0
layer_15_intensity=1.000
layer_15_local_tone=1.000
layer_15_local_structure=1.000
layer_15_influence=1.000
layer_15_skin_structure=1.000
layer_15_auto_mask=1
layer_15_ui_correction=1
layer_15_depth_convention=0
layer_15_mvec_scale_x_multiplier=1.000
layer_15_mvec_scale_y_multiplier=1.000
layer_16_nr_preset=1
layer_16_nr_style=0
layer_16_intensity=1.000
layer_16_local_tone=1.000
layer_16_local_structure=1.000
layer_16_influence=1.000
layer_16_skin_structure=1.000
layer_16_auto_mask=1
layer_16_ui_correction=1
layer_16_depth_convention=0
layer_16_mvec_scale_x_multiplier=1.000
layer_16_mvec_scale_y_multiplier=1.000
layer_17_nr_preset=1
layer_17_nr_style=0
layer_17_intensity=1.000
layer_17_local_tone=1.000
layer_17_local_structure=1.000
layer_17_influence=1.000
layer_17_skin_structure=1.000
layer_17_auto_mask=1
layer_17_ui_correction=1
layer_17_depth_convention=0
layer_17_mvec_scale_x_multiplier=1.000
layer_17_mvec_scale_y_multiplier=1.000
layer_18_nr_preset=1
layer_18_nr_style=0
layer_18_intensity=1.000
layer_18_local_tone=1.000
layer_18_local_structure=1.000
layer_18_influence=1.000
layer_18_skin_structure=1.000
layer_18_auto_mask=1
layer_18_ui_correction=1
layer_18_depth_convention=0
layer_18_mvec_scale_x_multiplier=1.000
layer_18_mvec_scale_y_multiplier=1.000
layer_19_nr_preset=1
layer_19_nr_style=0
layer_19_intensity=1.000
layer_19_local_tone=1.000
layer_19_local_structure=1.000
layer_19_influence=1.000
layer_19_skin_structure=1.000
layer_19_auto_mask=1
layer_19_ui_correction=1
layer_19_depth_convention=0
layer_19_mvec_scale_x_multiplier=1.000
layer_19_mvec_scale_y_multiplier=1.000
layer_20_nr_preset=1
layer_20_nr_style=0
layer_20_intensity=1.000
layer_20_local_tone=1.000
layer_20_local_structure=1.000
layer_20_influence=1.000
layer_20_skin_structure=1.000
layer_20_auto_mask=1
layer_20_ui_correction=1
layer_20_depth_convention=0
layer_20_mvec_scale_x_multiplier=1.000
layer_20_mvec_scale_y_multiplier=1.000
layer_21_nr_preset=1
layer_21_nr_style=0
layer_21_intensity=1.000
layer_21_local_tone=1.000
layer_21_local_structure=1.000
layer_21_influence=1.000
layer_21_skin_structure=1.000
layer_21_auto_mask=1
layer_21_ui_correction=1
layer_21_depth_convention=0
layer_21_mvec_scale_x_multiplier=1.000
layer_21_mvec_scale_y_multiplier=1.000
layer_22_nr_preset=1
layer_22_nr_style=0
layer_22_intensity=1.000
layer_22_local_tone=1.000
layer_22_local_structure=1.000
layer_22_influence=1.000
layer_22_skin_structure=1.000
layer_22_auto_mask=1
layer_22_ui_correction=1
layer_22_depth_convention=0
layer_22_mvec_scale_x_multiplier=1.000
layer_22_mvec_scale_y_multiplier=1.000
layer_23_nr_preset=1
layer_23_nr_style=0
layer_23_intensity=1.000
layer_23_local_tone=1.000
layer_23_local_structure=1.000
layer_23_influence=1.000
layer_23_skin_structure=1.000
layer_23_auto_mask=1
layer_23_ui_correction=1
layer_23_depth_convention=0
layer_23_mvec_scale_x_multiplier=1.000
layer_23_mvec_scale_y_multiplier=1.000
layer_24_nr_preset=1
layer_24_nr_style=0
layer_24_intensity=1.000
layer_24_local_tone=1.000
layer_24_local_structure=1.000
layer_24_influence=1.000
layer_24_skin_structure=1.000
layer_24_auto_mask=1
layer_24_ui_correction=1
layer_24_depth_convention=0
layer_24_mvec_scale_x_multiplier=1.000
layer_24_mvec_scale_y_multiplier=1.000
layer_25_nr_preset=1
layer_25_nr_style=0
layer_25_intensity=1.000
layer_25_local_tone=1.000
layer_25_local_structure=1.000
layer_25_influence=1.000
layer_25_skin_structure=1.000
layer_25_auto_mask=1
layer_25_ui_correction=1
layer_25_depth_convention=0
layer_25_mvec_scale_x_multiplier=1.000
layer_25_mvec_scale_y_multiplier=1.000
layer_26_nr_preset=1
layer_26_nr_style=0
layer_26_intensity=1.000
layer_26_local_tone=1.000
layer_26_local_structure=1.000
layer_26_influence=1.000
layer_26_skin_structure=1.000
layer_26_auto_mask=1
layer_26_ui_correction=1
layer_26_depth_convention=0
layer_26_mvec_scale_x_multiplier=1.000
layer_26_mvec_scale_y_multiplier=1.000
layer_27_nr_preset=1
layer_27_nr_style=0
layer_27_intensity=1.000
layer_27_local_tone=1.000
layer_27_local_structure=1.000
layer_27_influence=1.000
layer_27_skin_structure=1.000
layer_27_auto_mask=1
layer_27_ui_correction=1
layer_27_depth_convention=0
layer_27_mvec_scale_x_multiplier=1.000
layer_27_mvec_scale_y_multiplier=1.000
layer_28_nr_preset=1
layer_28_nr_style=0
layer_28_intensity=1.000
layer_28_local_tone=1.000
layer_28_local_structure=1.000
layer_28_influence=1.000
layer_28_skin_structure=1.000
layer_28_auto_mask=1
layer_28_ui_correction=1
layer_28_depth_convention=0
layer_28_mvec_scale_x_multiplier=1.000
layer_28_mvec_scale_y_multiplier=1.000
layer_29_nr_preset=1
layer_29_nr_style=0
layer_29_intensity=1.000
layer_29_local_tone=1.000
layer_29_local_structure=1.000
layer_29_influence=1.000
layer_29_skin_structure=1.000
layer_29_auto_mask=1
layer_29_ui_correction=1
layer_29_depth_convention=0
layer_29_mvec_scale_x_multiplier=1.000
layer_29_mvec_scale_y_multiplier=1.000
layer_30_nr_preset=1
layer_30_nr_style=0
layer_30_intensity=1.000
layer_30_local_tone=1.000
layer_30_local_structure=1.000
layer_30_influence=1.000
layer_30_skin_structure=1.000
layer_30_auto_mask=1
layer_30_ui_correction=1
layer_30_depth_convention=0
layer_30_mvec_scale_x_multiplier=1.000
layer_30_mvec_scale_y_multiplier=1.000
depth_bridge_1_enabled=0
depth_bridge_1_mode=0
depth_bridge_1_strength=0.500
depth_bridge_1_start=0.650
depth_bridge_1_far_limit=1.000
depth_bridge_1_curve=2.000
depth_bridge_1_edge_protection=1.000
depth_bridge_2_enabled=0
depth_bridge_2_mode=0
depth_bridge_2_strength=0.500
depth_bridge_2_start=0.650
depth_bridge_2_far_limit=1.000
depth_bridge_2_curve=2.000
depth_bridge_2_edge_protection=1.000
depth_bridge_3_enabled=0
depth_bridge_3_mode=0
depth_bridge_3_strength=0.500
depth_bridge_3_start=0.650
depth_bridge_3_far_limit=1.000
depth_bridge_3_curve=2.000
depth_bridge_3_edge_protection=1.000
depth_bridge_4_enabled=0
depth_bridge_4_mode=0
depth_bridge_4_strength=0.500
depth_bridge_4_start=0.650
depth_bridge_4_far_limit=1.000
depth_bridge_4_curve=2.000
depth_bridge_4_edge_protection=1.000
depth_bridge_5_enabled=0
depth_bridge_5_mode=0
depth_bridge_5_strength=0.500
depth_bridge_5_start=0.650
depth_bridge_5_far_limit=1.000
depth_bridge_5_curve=2.000
depth_bridge_5_edge_protection=1.000
depth_bridge_6_enabled=0
depth_bridge_6_mode=0
depth_bridge_6_strength=0.500
depth_bridge_6_start=0.650
depth_bridge_6_far_limit=1.000
depth_bridge_6_curve=2.000
depth_bridge_6_edge_protection=1.000
depth_bridge_7_enabled=0
depth_bridge_7_mode=0
depth_bridge_7_strength=0.500
depth_bridge_7_start=0.650
depth_bridge_7_far_limit=1.000
depth_bridge_7_curve=2.000
depth_bridge_7_edge_protection=1.000
depth_bridge_8_enabled=0
depth_bridge_8_mode=0
depth_bridge_8_strength=0.500
depth_bridge_8_start=0.650
depth_bridge_8_far_limit=1.000
depth_bridge_8_curve=2.000
depth_bridge_8_edge_protection=1.000
depth_bridge_9_enabled=0
depth_bridge_9_mode=0
depth_bridge_9_strength=0.500
depth_bridge_9_start=0.650
depth_bridge_9_far_limit=1.000
depth_bridge_9_curve=2.000
depth_bridge_9_edge_protection=1.000
depth_bridge_10_enabled=0
depth_bridge_10_mode=0
depth_bridge_10_strength=0.500
depth_bridge_10_start=0.650
depth_bridge_10_far_limit=1.000
depth_bridge_10_curve=2.000
depth_bridge_10_edge_protection=1.000
depth_bridge_11_enabled=0
depth_bridge_11_mode=0
depth_bridge_11_strength=0.500
depth_bridge_11_start=0.650
depth_bridge_11_far_limit=1.000
depth_bridge_11_curve=2.000
depth_bridge_11_edge_protection=1.000
depth_bridge_12_enabled=0
depth_bridge_12_mode=0
depth_bridge_12_strength=0.500
depth_bridge_12_start=0.650
depth_bridge_12_far_limit=1.000
depth_bridge_12_curve=2.000
depth_bridge_12_edge_protection=1.000
depth_bridge_13_enabled=0
depth_bridge_13_mode=0
depth_bridge_13_strength=0.500
depth_bridge_13_start=0.650
depth_bridge_13_far_limit=1.000
depth_bridge_13_curve=2.000
depth_bridge_13_edge_protection=1.000
depth_bridge_14_enabled=0
depth_bridge_14_mode=0
depth_bridge_14_strength=0.500
depth_bridge_14_start=0.650
depth_bridge_14_far_limit=1.000
depth_bridge_14_curve=2.000
depth_bridge_14_edge_protection=1.000
depth_bridge_15_enabled=0
depth_bridge_15_mode=0
depth_bridge_15_strength=0.500
depth_bridge_15_start=0.650
depth_bridge_15_far_limit=1.000
depth_bridge_15_curve=2.000
depth_bridge_15_edge_protection=1.000
depth_bridge_16_enabled=0
depth_bridge_16_mode=0
depth_bridge_16_strength=0.500
depth_bridge_16_start=0.650
depth_bridge_16_far_limit=1.000
depth_bridge_16_curve=2.000
depth_bridge_16_edge_protection=1.000
depth_bridge_17_enabled=0
depth_bridge_17_mode=0
depth_bridge_17_strength=0.500
depth_bridge_17_start=0.650
depth_bridge_17_far_limit=1.000
depth_bridge_17_curve=2.000
depth_bridge_17_edge_protection=1.000
depth_bridge_18_enabled=0
depth_bridge_18_mode=0
depth_bridge_18_strength=0.500
depth_bridge_18_start=0.650
depth_bridge_18_far_limit=1.000
depth_bridge_18_curve=2.000
depth_bridge_18_edge_protection=1.000
depth_bridge_19_enabled=0
depth_bridge_19_mode=0
depth_bridge_19_strength=0.500
depth_bridge_19_start=0.650
depth_bridge_19_far_limit=1.000
depth_bridge_19_curve=2.000
depth_bridge_19_edge_protection=1.000
depth_bridge_20_enabled=0
depth_bridge_20_mode=0
depth_bridge_20_strength=0.500
depth_bridge_20_start=0.650
depth_bridge_20_far_limit=1.000
depth_bridge_20_curve=2.000
depth_bridge_20_edge_protection=1.000
depth_bridge_21_enabled=0
depth_bridge_21_mode=0
depth_bridge_21_strength=0.500
depth_bridge_21_start=0.650
depth_bridge_21_far_limit=1.000
depth_bridge_21_curve=2.000
depth_bridge_21_edge_protection=1.000
depth_bridge_22_enabled=0
depth_bridge_22_mode=0
depth_bridge_22_strength=0.500
depth_bridge_22_start=0.650
depth_bridge_22_far_limit=1.000
depth_bridge_22_curve=2.000
depth_bridge_22_edge_protection=1.000
depth_bridge_23_enabled=0
depth_bridge_23_mode=0
depth_bridge_23_strength=0.500
depth_bridge_23_start=0.650
depth_bridge_23_far_limit=1.000
depth_bridge_23_curve=2.000
depth_bridge_23_edge_protection=1.000
depth_bridge_24_enabled=0
depth_bridge_24_mode=0
depth_bridge_24_strength=0.500
depth_bridge_24_start=0.650
depth_bridge_24_far_limit=1.000
depth_bridge_24_curve=2.000
depth_bridge_24_edge_protection=1.000
depth_bridge_25_enabled=0
depth_bridge_25_mode=0
depth_bridge_25_strength=0.500
depth_bridge_25_start=0.650
depth_bridge_25_far_limit=1.000
depth_bridge_25_curve=2.000
depth_bridge_25_edge_protection=1.000
depth_bridge_26_enabled=0
depth_bridge_26_mode=0
depth_bridge_26_strength=0.500
depth_bridge_26_start=0.650
depth_bridge_26_far_limit=1.000
depth_bridge_26_curve=2.000
depth_bridge_26_edge_protection=1.000
depth_bridge_27_enabled=0
depth_bridge_27_mode=0
depth_bridge_27_strength=0.500
depth_bridge_27_start=0.650
depth_bridge_27_far_limit=1.000
depth_bridge_27_curve=2.000
depth_bridge_27_edge_protection=1.000
depth_bridge_28_enabled=0
depth_bridge_28_mode=0
depth_bridge_28_strength=0.500
depth_bridge_28_start=0.650
depth_bridge_28_far_limit=1.000
depth_bridge_28_curve=2.000
depth_bridge_28_edge_protection=1.000
depth_bridge_29_enabled=0
depth_bridge_29_mode=0
depth_bridge_29_strength=0.500
depth_bridge_29_start=0.650
depth_bridge_29_far_limit=1.000
depth_bridge_29_curve=2.000
depth_bridge_29_edge_protection=1.000

# Live neural residual controls; neutral preserves the normal result.
residual_shadow_multiplier=1.000
residual_light_multiplier=1.000
glow_suppression=0.000

